/* 
    Created on : 07-nov-2013, 11:23:02
    Author     : Josue Cruz Moreno
*/

.iconos{
    width:25px;
    height:25px;
}
#logo{
    width:50px;
    height:50px;
}
.ImProductos{
    width:125px;
    height:150px;
}
